* {
    box-sizing: border-box;
    width: 500px;
}
.komorka1 {
    width: 200px;
    display: block;
    background-color: red;
}

.komorka2 {
    width: 200px;
    display: inline-block;
    background-color: blue;
}

.komorka3 {
    width: 200px;
    display: inline;
    background-color: blue;
}


.span {
    background-color: green;
}