h1 {
    font-size: 2em;
    font-weight: normal;
}
h2 {
    font-size: 2em;
    font-weight: normal;
}
ol {
    margin-block-start: 5em;
}
p {
    margin-inline-start: 0.5em;
}

label {
    display: inline-block;
    width: 50px;
}

div {
    margin: 0px;
}