/*h1 {
    font-size: 2em; 
    font-weight: normal;
}*/

/*TEN STYL JEst do czegos*/


label {

    display: inline-block;
    width: 43px;
}

* {
    margin-top: 5px;
    margin-left: 20px;
}
.dlugosc177 
{
    width:177px ;

}