h1 {
    font-size: 2em; 
    font-weight: normal;
}

/*TEN STYL JEst do czegos*/


label {

    display: inline-block;
    width: 43px;
}

/** {
    margin-top: 5px;
   margin-left: 20px; 
}*/
.dlugosc177 
{
    width:177px;
}

*{box-sizing: border-box;}
#glowny 
    {font-size: 0;
	width: 500px;
	height: 500px;
    }
	#div1
	{
		width: 100%;
		height: 33%;
		border:solid 1px red;
		background-color: red;
	}
	#div2
	{
		width: 67%;
		height: 33%;
		border: solid 1px blue;
		background-color: blue;
	}
	#div3
	{
		width: 33%;
		height: 33%;
		border: solid 1px yellow;
	    background-color: yellow;
	}
	#div4
	{
		width: 34%;
		height: 33%;
		border: solid 1px yellow;
		background-color: yellow;
	}
	#div5
	{
		width: 33%;
		height: 33%;
		border: solid 1px green;
		background-color: green;
	}
	#div6
	{
		width: 33%;
		height: 33%;
		border: solid 1px black;
		background-color: black;
		
	}