div {
    border: 1px solid rgb(255, 0, 0);
    padding: 1%;
    display: inline-block;
    font-size: 0pt;
    }

div#komorka1 {
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    box-sizing: border-box;
    font-size: 12pt;
    }

div#komorka2 {
    border: 1px solid rgb(0, 0, 0);
    width: 67%;
    height: 60px;
    box-sizing: border-box;
    font-size: 12pt;
}

div#komorka3 {
    border: 1px solid rgb(0, 0, 0);
    width: 33%;
    height: 60px;
    box-sizing: border-box;
    font-size: 12pt;
}

div#komorka4 {
    border: 1px solid rgb(0, 0, 0);
    width: 34%;
    box-sizing: border-box;
    font-size: 12pt;
}

div#komorka5 {
    border: 1px solid rgb(0, 0, 0);
    width: 33%;
    box-sizing: border-box;
    font-size: 12pt;
}

div#komorka6 {
    border: 1px solid rgb(0, 0, 0);
    width: 33%;
    box-sizing: border-box;
    font-size: 12pt;
}